<div class="about row animated">
    <div class="col colHalf">
        <p class="main-text">
            I’m a Frontend developer with UI Design background and strong skills implementing HTML & CSS in
            different
            environments like Vue, .Net, and Angular. I have always enjoyed laying out and all related with user
            interactions.
        </p>
        <p class="main-text">
            I think one of the skills that makes me different, in addition to my wide CSS knowledge, is to know all
            about user interfaces, design patterns and development interactions.
        </p>
        <div class="card empty">	
			<a class="card-item-more" href="/about">Read More</a>	
		</div>
    </div>
    <div class="picture colHalf"></div>
</div>