<!DOCTYPE html>
<html>

<head>
	<title>Larissa | {{ page.title }}</title>
	<link rel="shortcut icon" href="/assets/favicon.ico">
	<link rel="canonical" href="http://lariicsa.com">
	<meta name=language content=es-ES>
	<meta name=author content="Lariicsa">
	<meta property="og:title" content="Larissa Avila Frontend developer">
	<meta property="og:site_name" content="Larissa Avila">
	<meta property="og:url" content="http://lariicsa.com">
	<meta property="og:description" content="Larissa Avila, remote Frontend developer, I love Vuejs, HTML & CSS">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://lariicsa.github.io/assets/ogimage.jpg">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/styles/styles.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108715367-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-108715367-2');
	</script>

</head>