<!DOCTYPE html>
<html>

<head>
	<title>Larissa | {{ page.title }}</title>
	<link rel="shortcut icon" href="/assets/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="Larissa Avila" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://lariicsa.com" />
	<meta property="og:image"
		content="https://github.com/Lariicsa/lariicsa.github.io/blob/master/assets/site-lariicsa.png" />
	<meta property="og:image:width" content="300" />
	<meta property="og:image:height" content="400" />
	<meta property="og:image:type" content="image/jpeg" />
	<link rel="stylesheet" href="/styles/styles.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108715367-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-108715367-2');
	</script>

</head>