<div class="header-wrapper">
	<div class="header">
		<div class="row md">
			<a href="/" class="header-pic"></a>
		</div>
		<ul class="menu">
			{% for item in site.data.menu %}
			<li><a href="{{ item.url }}" class="{% if item.url == page.menurl %}here{% endif %}">{{ item.title }}</a></li>
			{% endfor %}
		</ul>
		<div class="header-mobile-toggle" onclick="burgerButton()">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>

	<ul class="header-mobile-menu">
		{% for item in site.data.menu %}
		<li><a href="{{ item.url }}" class="{% if item.url == page.menurl %}here{% endif %}">{{ item.title }}</a></li>
		{% endfor %}
	</ul>
</div>