<!DOCTYPE html>
<html>

<head>
	<title>Larissa | {{ page.title }}</title>
	<link rel="shortcut icon" href="/assets/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="Larissa Avila" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://lariicsa.com" />
	<meta property="og:image" content="../assets/me-small-2.png" />
	<meta property="og:image:type" content="image/jpeg" />
	<link rel="stylesheet" href="/styles/styles.css">
</head>