//Colors
$blackio: #454f58;
$bluerple: #6a86da;
$border-grey: #f1f1f1;
$dryer: #ebeff0;
$girly: #ff5077;

//Font
$bold: 700;
$regular: 400;

$medium-size: 1.4rem;
$regular-size: 1.6rem;
$big-title: 3.2rem;

//Larges
$large: 100%;
$medium: 48%;
$small: 31%;