//Colors
$accent: #0075b0;
$blackio: #454f58;
$greyo: #4d575f;
$bluerple: #6a86da;
$blue-lite: #e1e7f8;
$border-grey: #f1f1f1;
$dryer: #ebeff0;
$girly: #ff5077;
$gloss: #ffccd7;

//Font
$bold: 700;
$regular: 400;

$small-size: 1.2rem;
$medium-size: 1.4rem;
$regular-size: 1.6rem;
$big-title: 3.2rem;

//Larges
$large: 100%;
$medium: 48%;
$small: 31%;

//utils
$shadow: 0 0.2rem 0.4rem 0 rgba(0,0,0,0.5) ;
