.about {
  margin: 8% 0;
  @include until(600px) {
    flex-direction: column-reverse;
  }
  .picture {
    background-color: white;
    background-image: url("../../assets/profile.png");
    background-repeat: no-repeat;
    background-position: 82% 100%;
    background-size: 30%;
    background-attachment: fixed;
    border-radius: 0.4rem;
    margin: auto;
    padding: 2.4rem 4rem;
    flex: 0 1 32%;
    height: 48rem;
    @include until(600px) {
      min-height: 16rem;
      background-position: center 84%;
      background-size: 48%;
      padding: 2.4rem;
      height: 48rem;
    }
  }
}
