.about {
  margin: 8% 0;
  @include until(600px) {
    flex-direction: column-reverse;
  }
  .picture {
    background-color: white;
    background-image: url("../../assets/profile.png");
    background-repeat: no-repeat;
    background-position: 82% 100%;
    background-size: 30%;
    background-attachment: fixed;
    border-radius: 0.4rem;
    margin: auto;
    padding: 2.4rem 4rem;
    flex: 0 1 32%;
    height: 48rem;
    @include until(1025px) {
      min-height: 16rem;
      background-position: center top;
      background-attachment: fixed;
      background-size: 48%;
      padding: 2.4rem;
      height: auto;
    }
  }
  &-bg {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 8%;
    height: auto;
    min-height: 44vw;
    &.white {
      background-color: white;
      color: $blackio;
      & > * {
        color: inherit;
        line-height: normal;
      }
      & > h3 {
        font-size: $big-title;
      }

      & p {
        font-size: $big-size;
        text-align: justify;
        & > strong {
          color: $girly;
        }
      }
    }
    &.girly {
      background-color: $girly;
      align-items: center;
      & p {
        margin: 1.6rem 0;
        font-size: $big-special;
        font-family: $font-secondary;
        font-weight: $bold;
        color: white;
        text-align: center;
      }
    }
    &.picture-1 {
      background-image: url("../../assets/pic-me.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}
