.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 57rem;
    height: 100%;
    position: relative;
}

.card {
    background-color: white;
    border-radius: 0.3rem;
    box-shadow: $shadow-item;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4.8rem 0;
    padding: 1.6rem;
    width: 57rem;
    height: auto;
    animation: fade-in-down 1s;
    animation-delay: 0.3s;
    animation-fill-mode: both;
    position: relative;

    &:first-child {
        margin-top: 0;
    }

    &:nth-child(1):before {
        background: #E02B64;
    }

    &:nth-child(2):before {
        background: #e44675;
    }

    &:nth-child(3):before {
        background: #e9658b;
    }

    &:nth-child(4):before {
        background: #ef82a0;
    }

    &:nth-child(5):before {
        background: #f59fb5;
    }

    &:nth-child(6):before {
        background: #f9b8c8;
    }

    &:nth-child(7):before {
        background: #fcc0cf;
    }

    &:before {
        content: "";
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        width: 2.6rem;
        height: 2.6rem;
        position: absolute;
        top: -1rem;
        left: -17.1rem;
    }

    &>a {
        font-size: 1.6rem;
        text-align: center;
        color: $accent;
        font-weight: 400;
        &.card-item-more {
            background: rgb(82, 169, 225);
            background: linear-gradient(90deg, rgba(82, 169, 225, 0.80) 0%, rgba(83, 154, 183, 0.80) 100%);
            border-radius: 3.2rem;
            margin: auto;
            padding: 1.6rem 4rem;
            display: flex;
            flex-direction: column;
            flex: 0 1 80%;
            justify-content: center;
            align-items: center;
            font-size: 3.2rem;
            color: white;
            text-decoration: none;
            height: 7.2rem;
            width: auto;
            position: relative;
    
            &:hover {
                background: rgb(82, 169, 225);
                background: linear-gradient(90deg, rgba(82, 169, 225, 1) 0%, rgba(83, 154, 183, 1) 100%);
            }
        }
    }

    &>h2 {
        margin: 2rem 0 0 0;
        text-align: center;
        font-size: 4rem;
        color: $girly;
    }

    &>p {
        margin: 1.5rem 0;
        text-align: center;
        font-size: 1.8rem;
        color: #473f44;
        max-width: 52rem;

        &.project {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
        }
    }

    &>span {
        font-size: 1.3rem;
        color: $gloss;
        font-weight: 700;
        position: absolute;
        top: -0.2rem;
        left: -13rem;
    }

    &-tags-box {
        border-top: solid 0.1rem #f1f1f1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 1.5rem;
        height: 100%;
        width: 100%;
    }
    
    &.empty {
        background-color: transparent;
        box-shadow: none;
        &:before {
            display: none;
        }
    }
}

.line {
    width: 0.4rem;
    background: linear-gradient(180deg, #e02962 0%, #ffccd7 100%);
}

.timeline {
    margin: 4.8rem 0;
    justify-content: space-between;
    max-width: 73rem;
    position: relative;
}

@media only screen and (max-width: 800px) {
    .card {
        width: 100%;
        &:before {
            top: -4.8rem;
            left: calc(50% - 1.3rem);
        }
        &:first-child {
            margin-top: 2.4rem;
        }
        &>span {
            position: relative;
            top: -8.8rem;
            left: 0;
            right: 0;
            bottom: 0;
        }
        &>a.card-item-more {
            width: 100%;
            font-size: 1.8rem;
        }
    }
    .line {
        height: 100%;
        position: absolute;
        z-index: 0;
        left: calc(50% - 2px);
        top: 0;
        &.short {
            height: 80%;
        }
    }

    .timeline {
        max-width: 100%;
        justify-content: center;
    }

}

@media only screen and (max-width: 400px) {
    .card {
        padding: 0.8rem;
        &-tags-box {
            padding: 0.4rem;
        }

        &>h2 {
            font-size: 2.4rem;
        }
        &>p {
            font-size: 1.6rem;
        }
    }

    .tag {
        margin: 0.4rem;
        padding: 0.4rem 0.8rem;
    }
}