.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #3D454C;
	height: 4rem;
	width: 100%;
	position: relative;
	&>p {
		font-size: $medium-size;
		&>b {
			font-size: inherit;
			font-weight: $bold;
		}
	}
}