.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: $dryer;
	height: 4rem;
	width: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
	&>p {
		font-size: $medium-size;
		&>b {
			font-size: inherit;
			font-weight: $bold;
		}
	}
}