.header {
	border: 0;
	background-color: $blackio;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: center;
	line-height: normal;
	height: 7rem;
	width: 100%;
	max-width: $maxwidth-inner-containner;

	&>ul {
		background-color: $blackio;
		display: flex;
		margin: 0;
		padding: 0;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		width: auto;

		&>li {
			background-color: $blackio;
			border: 0;
			display: flex;
			padding: 0;
			margin: 0;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			&>a {
				background-color: $blackio;
				border: 0;
				display: flex;
				padding: 0 4rem;
				margin: 0;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-decoration: none;
				color: white;
				height: 7rem;
				width: auto;
				transition: all 0.9s ease;

				&:hover {
					background: rgb(255, 107, 107);
					background: linear-gradient(0deg, rgba(255, 107, 107, 0.5) 0%, rgba(224, 41, 98, 0.4) 100%);
					color: inherit;
				}

				&.here {
					background: rgb(255, 107, 107);
					background: linear-gradient(0deg, rgba(255, 107, 107, 1) 0%, rgba(224, 41, 98, 1) 100%);
					color: white;

					&:hover {
						color: inherit;
						pointer-events: none;
					}
				}

			}
		}
	}

	&-pic {
		display: flex;
		background-image: url('../../assets/me-small.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 100%;
		height: 5rem;
		width: 5rem;
	}
	&-wrapper {
		border: 0;
		background-color: $blackio;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		align-self: center;
		line-height: normal;
		height: 7rem;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
	}
}

@media only screen and (max-width: 650px) {
	.header>ul {
		display: none;
	}
}
