.latests {
	margin: 2.4rem 0;
}

.latest {
	display: flex;
	margin: 2.4rem 0;
	padding: 0;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	list-style-type: none;
	width: 100%;
	height: auto;

	&::after {
		content: "";
		display: block;
		width: 50%;
	}

	&-item {
		background-color: white;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 0.4rem;
		box-shadow: $shadow-item;
		margin: 1.6rem 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		flex: 0 1 49.5%;
		justify-content: center;
		align-items: center;
		height: 37.6rem;
		position: relative;

		&>a {
			display: flex;
			border-radius: 0.2rem;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: transparent;
			text-decoration: none;
			height: 100%;
			width: 100%;

			&>h3 {
				color: inherit;
			}

			&:hover {
				background: rgb(255, 107, 107);
				background: linear-gradient(0deg, rgba(255, 107, 107, 1) 0%, rgba(224, 41, 98, 1) 100%);
				color: white;
			}
		}


		&-img {
			border-top-left-radius: 0.4rem;
			border-top-right-radius: 0.4rem;
			width: 100%;

			&>img {
				border-top-left-radius: 0.4rem;
				border-top-right-radius: 0.4rem;
				max-width: 100%;
				height: auto;
			}
		}
	}
	&-more {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		flex: 0 1 49.5%;
		justify-content: center;
		align-items: center;
		height: 37.6rem;
		position: relative;
		& a {
			color: $accent;
			& > * {
				color: inherit;
				font-weight: $regular;
			}
			&:hover {
				color: white;
			}
		}
	}
}