.latests {
	margin: 2.4rem 0;
}

.latest {
	display: flex;
	margin: 2.4rem 0;
	padding: 0;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	list-style-type: none;
	width: 100%;
	height: auto;

	&::after {
		content: "";
		display: block;
		width: 50%;
	}

	&-item {
		background-color: white;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: $radius-item;
		box-shadow: $shadow-item;
		margin: 0.8rem 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		flex: 0 1 49.6%;
		justify-content: center;
		align-items: center;
		height: auto;
		position: relative;

		&>a {
			display: flex;
			border-radius: $radius-item;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: transparent;
			text-decoration: none;
			height: 100%;
			width: 100%;

			&>h3 {
				color: inherit;
			}
		}

		&-image {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			border-radius: $radius-item;
			display: block;
			height: 54.4rem;
			width: 100%;
			position: relative;
		}

		&-mask {
			background: rgb(255, 107, 107);
			background: linear-gradient(0deg, rgba(255, 107, 107, 0.8) 0%, rgba(224, 41, 98, 0.8) 100%);
			border-radius: $radius-item;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			opacity: 0;
			transition: opacity .6s;
		}

		&-more {
			background: rgb(82, 169, 225);
			background: linear-gradient(90deg, rgba(82, 169, 225, 0.80) 0%, rgba(83, 154, 183, 0.80) 100%);
			border-radius: 3.2rem;
			margin: auto;
			padding: 1.6rem 4rem;
			display: flex;
			flex-direction: column;
			flex: 0 1 30%;
			justify-content: center;
			align-items: center;
			font-size: 3.2rem;
			color: white;
			text-decoration: none;
			height: 7.2rem;
			width: auto;
			position: relative;

			&:hover {
				background: rgb(82, 169, 225);
				background: linear-gradient(90deg, rgba(82, 169, 225, 1) 0%, rgba(83, 154, 183, 1) 100%);
			}
		}
	}
}

.latest-item:hover .latest-item-mask {
	opacity: 1;
}


@media only screen and (max-width: 1200px) {
	.latest {
		&-item {
			flex: 0 1 49.9%;
		}
	}
}

@media only screen and (max-width: 1024px) {
	.latest {
		justify-content: center;
		&-item {
			flex: 0 1 98%;

			&-more {
				margin: 4rem auto;
				flex: 0 1 100%;
			}
		}
		&s {
			align-items: center;
		}
	}
}

@media only screen and (max-width: 800px) {
	.latest {
		&-item {
			height: 32rem;
		}
	}
}