.post {
	&-box {
		background-color: white;
		border-radius: $radius-item;
		color: $blackio;
		margin: 7.2rem 0;
		max-height: 58rem;
		&>p {
			padding: 1.6rem;
			color: inherit;
		}
	}
	&-content {
		background-color: white;
		border-radius: $radius-item;
		color: $blackio;
		margin: 2.4rem 0;
	}
	&-preview {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 58rem;
		width: 100%;
		flex-wrap: wrap;
		&-img {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			border-top-left-radius: $radius-item;
			border-bottom-left-radius: $radius-item;
			display: flex;
			width: 50%;
			height: 100%;
		}
		&-info {
			display: flex;
			padding: 6.4rem;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 50%;
			&>h1 {
				margin: 0;
				font-size: 4rem;
				color: $girly;
				font-weight: $regular;
			}
			&>p {
				margin: 3.2rem 0;
				text-align: justify;
				color: $blackio;
			}
		}
	}

	&-image {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		border-top-left-radius: $radius-item;
		border-bottom-left-radius: $radius-item;
		display: flex;
		width: 100%;
		height: 64rem;
	}
}

@media only screen and (max-width: 1024px) {
	.post {
		&-image {
			height: 48rem;
		}
	}
}

@media only screen and (max-width: 700px) {
	.post {
		&-image {
			height: 24rem;
		}
	}

}