/** @format */

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Kumbh Sans";
}
