---
name: post
menurl: /work/
---
{% include head.html%}
<div class="space">
		{% include header.html%}
	<div class="wrapper top-fixed">
				<div class="inner-container">
						<div class="row post-box">
								<div class="post-preview">
									<div class="post-preview-img" style="background-image: url('{{page.image}}');">
									</div>
									<div class="post-preview-info">
										<h1>{{ page.title }}</h1>
										<p>{{ page.description }}</p>
									</div>
								</div>
							</div>
							<div class="row post-content">
									<div class="post-image" style="background-image: url('{{page.img1}}')"></div>
									<div class="post-image" style="background-image: url('{{page.img2}}')"></div>
					</div>
							</div>
	</div>
	{% include footer.html%}
</div>

{% if page.js_file %}
	<script src="/js/{{include.js_file}}"></script>
{% endif %}

</body>
</html>
